{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    #profile-picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
    }
</style>

<section class="section-conten padding-y bg">

    <div class="container">
        {% include 'includes/alerts.html' %}
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            

                <div class="container mt-5 mb-3">
                    
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row mb-4">
                                <div class="col text-center">
                                  <h1 class="text-primary">Change Password</h1>
                                  
                                </div>
                              </div>
                            <form method="POST" action="{% url 'change_password' %}">
                                {% csrf_token%}
                                <div class="mb-3">
                                    <label for="currentPassword" class="form-label">Current Password</label>
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        id="currentPassword" 
                                        placeholder="Enter current password" 
                                        name="currentPassword"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        id="newPassword" 
                                        name="newPassword"
                                        placeholder="Enter new password" 
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        id="confirmPassword" 
                                        name="confirmPassword"
                                        placeholder="Confirm new password" 
                                        required>
                                </div>
                                
                                
                                
                                
                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            


           </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
</section>

    
{% endblock %}