{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->

{% if not 'search' in request.path %}
<section class="section-pagetop bg">
    <div class="container"><h2 class="title-page text-center">AKART - WELCOME TO OUR STORE</h2></div> <!-- container //  -->
</section>
{% endif %}

    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" >
                <div class="card-body">
                    
                    <ul class="list-menu">
                        <li><a href="{% url 'store' %}">All</a></li>
                        {% for category in categories %}
                        <li><a href="{{category.get_url}}">{{category.category_name | capfirst}}</a></li>
                        {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{product_count}} Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <a href="{{product.get_url}}"><img src="{{ product.product_image.url }}"></a>
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                        <p class="mb-2">
                            <span class="user-rating">
                                    
                            <i class="fa fa-star{% if product.average_rating < 0.5 %}-o{% elif  product.average_rating >= 0.5 and  product.average_rating < 1 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_rating < 1.5 %}-o{% elif  product.average_rating >= 1.5 and  product.average_rating < 2 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_rating < 2.5 %}-o{% elif  product.average_rating >= 2.5 and  product.average_rating < 3 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_rating < 3.5 %}-o{% elif  product.average_rating >= 3.5 and  product.average_rating < 4 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_rating < 4.5 %}-o{% elif  product.average_rating >= 4.5 and  product.average_rating < 5 %}-half-o{% endif %}"></i>
                            
                            
                            </span>
                            <span>
                                ({{product.count_of_ratings}} Ratings & Reviews)
                            </span>
                        </p>
                        
                    </div>
                    <div class="price-wrap mt-2">
                        <span class="price">${{product.price}}</span>
                        <del class="price-old">${{product.price}}</del>
                    </div> <!-- price-wrap.// -->
                    <!-- <a href="{{ product.get_url}}" class="btn btn-block btn-primary">View </a> -->
                    
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
        
        {% else %}
        <div class="container title wrap mt-2"><h2 class="text-center">Oops! Looks like your item is not with us. Maybe try searching for something else?</h2></div>
        {% endif %}

       

        
    
        
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
        {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a href="?page={{products.previous_page_number}}" class="page-link">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}
        
        {% for i in products.paginator.page_range %}
            {% if i == products.number %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
        
      </ul>
      {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
