{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <div class="col">
            <header class="mb-4"><h4 class="card-title text-center">Order Review and Payment</h4></header>
        </div>
    </div>

    <div id="spinner-overlay-display" style="display: none;">
        <div class=" d-flex justify-content-center" style=" position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1050; 
        display: flex; align-items: center; justify-content: center;">
        <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  

    <div class="row">
        
        <aside class="col-lg-8">        
            <div class="card">
                <h5 class="card-header" >Billing Address</h5>
                <div class="card-body">
                  <h6 class="card-title mb-0 ">{{order.full_name}}</h6>
                  <p class="card-text mb-0">{{order.address}}</p>
                  <p class="card-text mb-0">{{order.zipCode}}</p>
                  <p class="card-text mb-0">{{order.contactDetails}}</p>
                  <a href="{% url 'checkout' %}" class="btn btn-primary mb-0">Edit</a>
                </div>
              </div>
    
              <div class="card">
                <h5 class="card-header" >Payment Method</h5>
                <div class="card-body">
                  <p class="card-text mb-1">PayPal</p>
                </div>
              </div>
    
              <div class="card">
                <h5 class="card-header" >Product Details</h5>
               
                <div class="card-body">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                        <th scope="col">Product</th>
                        <th scope="col" width="60">Quantity</th>
                        <th scope="col" width="100">Price</th>
                        
                        </tr>
                        </thead>
                        <tbody>
                
                            {% for cart_item in cart_items %}
                
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <a href="{{cart_item.product.get_url}}"><div class="aside"><img src="{{cart_item.product.product_image.url}}" class="img-sm"></div></a>
                                        <figcaption class="info">
                                            <a href="{{cart_item.product.get_url}}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                            <p class="text-muted small">
                                                {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}} <br>
                                                {% endfor %}
                                                {% endif %}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                    <!-- col.// -->
                                                <div class="col"> 
                                                    <span type="text" class="form-control">{{cart_item.quantity}}</span> 
                                                </div> <!-- col.// -->
                                </td>
                                <td> 
                                    <div class="price-wrap"> 
                                        <var class="price">${{cart_item.sub_total}}</var> 
                                        <small class="text-muted">${{cart_item.product.price}} each</small> 
                                    </div> <!-- price-wrap .// -->
                                </td>
                               
                            </tr>
                        
                        {% endfor %}
                        
                
                
                        </tbody>
                        </table> 
                </div>
              </div>
        
        </aside> <!-- col.// -->
        
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">

                

                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">${{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">${{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                </dl>
                <hr>
                
                
                
                <div id="paypal-button-container"></div>
                
                
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->

 
    
    </div> <!-- container .//  -->
    </section>

    <script>

        

        let amount="{{grand_total}}";
        let csrftoken = getCookie('csrftoken');
        let orderId="{{order.order_number}}";
        let payment_url="{% url 'payments' %}";
        let payment_method='PayPal';
        let redirectUrl="{% url 'order_complete' %}";

        function showSpinner() {
        document.querySelector('#spinner-overlay-display').style.display = 'block';
        }

        // Function to hide the spinner
        function hideSpinner() {
            document.querySelector('#spinner-overlay-display').style.display = 'none';
        }

        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        };
        
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'rect',
                label: 'pay',
                height: 40
                },

            // Set up the transaction
            createOrder: function(data, actions) {
                
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    showSpinner();
                    sendData();
                    function sendData(){
                        fetch(payment_url,{
                        method:'POST',
                        
                        headers:{
                            'Content-Type':'application/json',
                            "X-CSRFToken":csrftoken,
                        },
                        body:JSON.stringify({
                            orderID:orderId,
                            tarnscationID:details.id,
                            status:details.status,
                            payment_method:payment_method
                        }),
                        
                    }).then(response => response.json())
                    .then(data => {
                        hideSpinner();
                        window.location.href=`${redirectUrl}?orderId=${data.orderId}&paymentId=${data.paymentId}`
                    });
                    };
                    
                });

            }


        }).render('#paypal-button-container');
</script>
    

{% endblock %}