{% extends 'base.html' %}
{% load static %}
{% block content %}




<style>
  


  #display-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10;
    
  }


</style>

<br>
<center>
  <!-- <h2>LinkedIn</h2> -->
  <p>If you have any questions or would like to connect, feel free to reach out through Linked:</p>
</center>
<br><br>

<div id="display-card">
  <div style="min-height: 400px!important;" class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="ankurrrai" data-version="v1">
    <!-- <a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/ankur-rai-b49830158?trk=profile-badge">Ankur Rai</a> -->
  </div>
  

</div>


    
{% endblock %}